<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-init-method="init"
        default-destroy-method="destroy"
        >

	<context:annotation-config />
	
	<bean id="studentDao" class="com.bridgelabz.beanlifecycle.callinginitbyannotation.StudentDao">
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/clgdb" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="studentDao2" class="com.bridgelabz.beanlifecycle.callinginitbyxml.StudentDao"> 
<!-- 	init-method="init" destroy-method="destroy"> -->
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/clgdb" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="hello" class="com.bridgelabz.beanlifecycle.callinginitbyinterface.Hello"></bean>
</beans>